*{
    box-sizing: border-box;
}
html{
    font-size: calc(1em + 1vw);
}

header{
    text-align:center;
    background-size: cover;
    padding: 1rem 0 1rem 0;
    font-size: 15px;
    color: #202122;
    background-color:#5eafc6;
}

a{
    text-decoration: none;
    color: #5f5b5b;
    padding: 1rem;
    display: inline-block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fefefe;
}

h3{
        text-align: center;
  color: #5f5b5b;
  padding: 1rem 0 1rem 0;
  font-size: 8px;
  background-color: bisque;
}

